.product-card-container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}
.product-card-container > img {
    height: 120px;
    width: 100px;
    text-align: center;
}
.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-style: oblique;
    text-align: center;
    color: aliceblue;
}

.price {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-style: oblique;
    text-align: center;
    color: aliceblue;
}
.space {
    color:transparent
}